* {
    box-sizing: border-box;
}

.container {
    width: 650px;
    height: 650px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/* entire container, keeps perspective */

.flip-container {
    perspective: 1000px;
    transition: 0.6s;
}

/* flip the pane when hovered */

.flip-container.flip .card {
    transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
    width: 130px;
    height: 130px;
}

/* flip speed goes here */

.card {
    transition: 0.6s;
    transform-style: preserve-3d;
    width: 130px;
    height: 130px;
    border: 1px solid black;
    position: relative;
}

/* hide back of pane during swap */

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

/* front pane, placed above back */

.front {
    z-index: 2;
    /* for firefox 31 */
    transform: rotateY(0deg);
    background: red;
}

/* back, initially hidden pane */

.back {
    transform: rotateY(180deg);
    background: blue;
    text-align: center;
    vertical-align: middle;
    line-height: 130px;
}